@import url(same.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;

  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

*>img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

:root {
  --black: #151515;
  --light-green: #4EE1A0;
  --light-black: #242424;
  --light-white: #d9d9d9;
  --white: #FFFFFF;
  --modal: rgba(0,0,0,.7);
  --error: #FF6F5B;
}

.btn a,
.btn{
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 2.286px;
}

.btn-none {
  border: none;
  background: none;
  outline: none;
}

.btn-success {
  padding: 0 0 10px 0;
  border-bottom: 2px solid var(--light-green);
  cursor: pointer;

  & a,
  &{
    color: var(--white);
    transition: all 0.2s ease;
  }

  &:hover a,
  &:hover{
    color: var(--light-green);
  }
}

button:disabled{
  border-bottom: 1px solid var(--light-green);
  color: var(--light-green);
}

button:disabled:hover{
  color: var(--light-green);
}

@font-face {
  font-family: "Space Grotesk";
  src: url(/src/assets/font/space-grotesk/static/SpaceGrotesk-Regular.ttf);
}

body {
  background: var(--black);
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.navbar {
  padding: 40px 0;
}

.navbar-title_text {
  color: var(--white);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  /* 100% */
  letter-spacing: -0.444px;
}

.header {
  margin-top: 5%;
}

.header-section {
  width: 60%;
}

.header-title_text {
  border-bottom: 5px solid var(--light-green);
}

.header-desc {
  width: 60%;
  margin-top: 40px;
}

.line-section {
  margin-top: 10%;
}

.experience-section_carts {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 30px;
  flex-direction: row;
}

.experience-section_cart {
  width: 31.9%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.experience-cart_title {
  color: var(--white);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Heading (L) */
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  /* 116.667% */
  letter-spacing: -1.5px;
}

.main {
  margin-top: 8%;
}

.main-section_body {
  margin-top: 80px;
}

.main-section_project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px 25px;
}

.main-project {
  position: relative;
  width: 32.2%;
}

.main-project_logo{
  position: relative;
}

.modal{
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background:var(--modal);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s;
}

.main-project_logo:hover .modal{
  opacity: 1;
  z-index: 99;
}

.main-project_info {
  margin-top: 20px;
}

.project-title {
  color: var(--white);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Heading (M) */
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
}

.project-subtitle {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 20px;
}

.project-subtitle_text {
  color: var(--light-white);
  font-feature-settings: 'clig' off, 'liga' off;
  /* Body */
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  /* 155.556% */
}

.footer {
  margin-top: 6%;
  background: var(--light-black);
  padding: 85px 0;
}

.footer-contact_section {
  display: flex;
  justify-content: space-between;
}

.footer-contact_title {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.footer-form_contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-form_single {
  position: relative;
}

.footer-contact_input {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  padding: 0 0 17px 24px;
  border-bottom: 2px solid var(--light-white);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: -0.222px;
}

.footer-form_single.error .footer-contact_input{
  border-bottom: 2px solid var(--error);
}

.footer-form_single.error::before{
  font-family: Icomoon;
  content: "\e901";
  position: absolute;
  right: 0;
  font-size: 24px;
  color: var(--error);
}

.footer-form_single.error::after{
  content: "Sorry, invalid format here";
  position: absolute;
  right: 0;
  bottom: -27px;
  color: var(--error);
}

.footer-form_single.right .footer-contact_input{
  border-bottom: 2px solid var(--light-green);
}

.footer-contact_input::placeholder{
  color: var(--light-white);
}

.footer-form_btn{
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
}

.footer-line{
  margin-top: 85px;
}

.footer-contact_user{
  margin-top: 50px;
}

.profile-section{
  position: absolute;
  top: 0;
  right: 10%;
  background: var(--light-black);
  width: 25%;
  height: 75vh;
  overflow: hidden;
}

.profile-info{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin: 45px 30px 75px 0;
}

.profile-info a{
  color: var(--white);
  font-size: 20px;
  transition: all 0.2s ease;
  &:hover{
    color: var(--light-green);
  }
}

.content{
  width: 50%;
  margin: 40px auto;
}

.create-portfolio_sec{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.create-port_exp{
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.create-portfolio_gain{
  position: relative;
  width: 29.6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light-black);
  padding: 5px;
  border-radius: 2px;
  & .footer-contact_input{
    position: relative;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
  }
  & .footer-contact_input::after{
    position: absolute;
    content: "\ed86";
    font-family: Icomoon;
    top: 2px;
    left: 3px;
    font-size: 24px;
  }
  & .footer-contact_input:checked:after{
    content: "\ed89";
    font-family: Icomoon;
  }

  & .footer-contact_input:checked ~ .experience-input{
    opacity: 1;
    z-index: 99;
  }
}

.experience-input{
  position: absolute;
  bottom: -40px;
  width: 100%;
  left: 0;
  outline: none;
  border: none;
  background: var(--light-black);
  /* border:1px solid var(--light-white); */
  padding: 5px;
  color: var(--light-white);
  font-size: 18px;
  opacity: 0;
  transition: all 0.2s ease;
  z-index: -1;
}

.create-port_name{
  color: var(--light-white);
  font-size: 18px;
}

.create-port_text{
  color: var(--light-white);
  font-size: 22px;
}

.icon-chevron-thin-right{
  display: none;
}

.create-port_selects{
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  background: var(--light-black);
  border-radius: 0 0 2px 2px;
  padding: 5px;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s;
}

.create-portfolio_gain .footer-contact_input:checked ~ .create-port_selects{
  opacity: 1;
  z-index: 99;
}

.create-experience{
  padding: 5px;
  border-radius: 2px;
  background: var(--light-white);
  font-size: 17px;
  border: 1px solid transparent;
  cursor: pointer;
  &:is(:active,:hover){
    background: var(--light-black);
    color: var(--light-white);
    border: 1px solid var(--light-white);
  }
}

.create-port_more input[type="checkbox"]{
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}

.create-port_more input[type="checkbox"]::after{
  content: "\ed86";
  font-family: "Icomoon";
  position: absolute;
  width: 5px;
  top: -4px;
  left: 3px;
  font-size: 20px;
}

/* contact pages styles */
.contact-main{
  margin-top: 60px;
}
.contact-section_title{
  color: var(--light-white);
  font-size: 40px;
}
.contact-messages_name{
  text-decoration: underline;
}
.contact-section_messages{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.contact-messages{
  width: 30%;
}
.contact-messages_title{
  padding: 5px 10px;
  background: var(--light-white);
  border-radius: 10px 10px 0 0;
}
.contact-messages_title>.icon-android{
  color: var(--light-black);
  font-size: 20px;
}
.contact-messages_subtitle{
  padding: 10px;
  background: var(--light-black);
  border-radius: 0 0 10px 10px;
}
.contact-messages_describe{
  color: var(--light-white);
  font-size: 17px;
  word-wrap: break-word;
}
.contact-messages_btn{
  margin-top: 90px;
  text-align: center;
}
.found-messages{
  color: var(--light-white);
  font-size: 24px;
  font-style: italic;
}

@media screen and (max-width: 1810px) {
  .main-project{
    width: 32%;
  }
}

@media screen and (max-width:1785px) {
  .create-portfolio_gain{
    width: 29.5%;
  }
}

@media screen and (max-width:1742px) {
  .experience-section_cart{
    width: 31.8%;
  }
}

@media screen and (max-width:1738px) {
  .create-portfolio_gain{
    width: 29.3%;
  }
}

@media screen and (max-width:1652px) {
  .create-portfolio_gain{
    width: 29%;
  }
}


@media screen and (max-width:1638px) {
  .experience-section_cart{
    width: 31.7%;
  }

  .header-section{
    width: 80%;
  }
}

@media screen and (max-width:1538px) {
  .header-section{
    position: relative;
    z-index: 99;
  }
}

@media screen and (max-width:1537px) {
  .create-portfolio_gain{
    width: 28.8%;
  }
}

@media screen and (max-width:1529px) {
  .experience-section_cart{
    width: 31.6%;
  }

  .main-project{
    width: 31.8%;
  }
}

@media screen and (max-width:1470px) {
  .create-portfolio_gain{
    width: 28.5%;
  }
}

@media screen and (max-width:1441px) {
  .experience-section_cart{
    width: 31.5%;
  }

  .main-project{
    width: 48.5%;
  }
}

@media screen and (max-width:1392px) {
  .header-section{
    width: 75%;
  }
  .profile-section{
    height: 68vh;
  }
}

@media screen and (max-width:1378px) {
  .create-portfolio_gain{
    width: 28.3%;
  }
}

@media screen and (max-width:1363px) {
  .experience-section_cart{
    width: 31.3%;
  }
}

@media screen and (max-width:1324px) {
  .create-portfolio_gain{
    width: 28%;
  }
}

@media screen and (max-width:1249px) {
  .create-portfolio_gain{
    width: 27.8%;
  }
}

@media screen and (max-width:1204px) {
  .create-portfolio_gain{
    width: 27.6%;
  }
}

@media screen and (max-width:1229px) {
  .container{
    width: 95%;
  }
  
  .header-section{
    width: 70%;
  }
}

@media screen and (max-width:1162px) {
  .create-portfolio_gain{
    width: 27.5%;
  }
}

@media screen and (max-width:1142px) {
  .create-portfolio_gain{
    width: 27.3%;
  }
}

@media screen and (max-width:1104px) {
  .create-portfolio_gain{
    width: 45%;
  }
}

@media screen and (max-width:1034px) {
  .experience-section_cart{
    width: 48%;
  }
  .profile-section{
    height: 58vh;
  }
  .footer-contact_section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 50px;
  }
  .footer-contact_title,
  .footer-form{
    width: 70%;
  }
  .footer-contact_title{
    text-align: center;
  }
}

@media screen and (max-width:1000px) {
  .content{
    width: 80%;
  }
  .navbar-title{
    text-align: center;
  }
}

@media screen and (max-width:876px) {
  .profile-section{
    right: 0;
    width: 35%;
  }
  .main-project{
    width: 48%;
  }
  .profile-section{
    height: 63vh;
  }

  .experience-cart_title{
    font-size: 40px;
  }
}

@media screen and (max-width:796px) {
  .profile-section{
    left: 34%;
    top: 15%;
  }

  .navbar-title{
    text-align: center;
  }

  .header-section{
    width: 100%;
    text-align: center;
    position: relative;
    top: 40rem;
    margin-bottom: 45rem;
  }
  .header-desc{
    width: 100%;
  }
  .header-title{
    font-size: 70px;
  }
  .experience-section_cart{
    width: 48%;
    text-align: center;
  }
  .main-section{
    margin-top: 70px;
  }
  .main-section_projects{
    font-size: 65px;
  }
}

@media screen and (max-width:789px) {
  .experience-section_cart{
    width: 46%;
  }
  .profile-section{
    height: 59vh;
  }
}

@media screen and (max-width:717px) {
  .profile-section{
    width: 50%;
    height: 75vh;
    left: 24%;
  }
}

@media screen and (max-width:700px) {
  .profile-section{
    width: 65%;
    height: 80vh;
    left: 18%;
  }
}

@media screen and (max-width:657px) {
  .main-project{
    width: 100%;
  }
}

@media screen and (max-width:1652px) {
  .create-portfolio_gain{
    width: 100%;
  }
}

@media screen and (max-width:613px) {
  .header-section{
    top: 42rem;
  }
  .header-title{
    font-size: 50px;
    line-height: 60px;
  }
  .footer{
    padding: 20px 0;
  }
}

@media screen and (max-width:594px) {
  .profile-section{
    width: 70%;
    height: 80vh;
    left: 14%;
  }

  .header-section{
    top: 42rem;
  }
  .header-title{
    font-size: 60px;
  }

  .footer-title{
    font-size: 35px;
  }

  .icon-chevron-thin-right{
    display: block;
    color: var(--light-white);
    font-size: 20px;
  }

  .main-section_title  button{
    display: none;
  }
}

@media screen and (max-width:527px) {
  .profile-section{
    width: 70%;
    height: 70vh;
  }
  .header-title{
    font-size: 50px;
  }
  .footer-user .navbar-title_text{
    display: none;
  }
  .footer-user{
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width:457px){
  .profile-section{
    width: 90%;
    left: 5%;
  }
  .header-title{
    font-size: 45px;
  }
  .footer-contact_title{
    width: 90%;
  }
  .experience-section_cart{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width:385px) {
  .footer-form{
    width: 90%;
  }
}

@media screen and (max-width:361px) {
  .profile-section{
    width: 90%;
    height: 68vh;
  }
  .footer-title{
    font-size: 40px;
  }
}

@media screen and (max-width:345px) {
  .profile-section{
    width: 95%;
    height: 67vh;
    left: 2.3%;
  }
  .header-title{
    font-size: 40px;
  }
  .main-section_projects{
    font-size: 50px;
  }
}